body {
  background: url('../images/bg-leather3.png') repeat fixed;
}

p, text, td, h1, h2, h3, h4, h5 {
  font-family: sans-serif;
}

p, text, td {
  font-size: 14px;
}

.arc {
  stroke-width: 100px;
}

.brush rect.extent {
  fill: steelblue;
  fill-opacity: .125;
}

.brush .resize path {
  fill: #eee;
  stroke: #666;
}

.container {
/*  background: url('../images/paper-test.png') repeat;*/
  background-color: #EEE;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  box-shadow: 0px 0px 10px #000;
  margin: 0 auto;
  padding: 0;
  width: 1250px;
  clear: both;
}

.donutCenterText {
  background: #fff;
  fill: rgb(31, 37, 39);
  font-size: 10px;
  text-align: center;
}

.labels {
  font-size: 11px;
}

.legendItem {
  display: inline-block;
  height: 30px;
  overflow: hidden;
  width: 200px;
}
.legendItem p {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.legendItem svg {
  border: 1px solid #666;
  display: inline-block;
  margin-right: 5px;
}

.link {
  stroke: #AAA;
  stroke-width: 2px;
}

.node {

}

.sampleLine {
    stroke: blue;
    opacity: 0;
}

.sampleLine.focus {
    opacity: 1;
}

.timeOVBar {
  fill: #ccc;
  stroke: white;
}

.timeOVBar.selected {
  fill: steelblue;
}

.titleText {
  font-size: 18px;
}

.vertLine {
    stroke: black;
}

.yearLine {
    stroke: black;
}


#areaDocList {
  background: #EEE;
  box-shadow: inset 0 0 10px #000000;
  /*float: right;*/
  height: 1000px;
  max-height: 1000px;
  min-height: 1000px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  width: 180px;
}

#areaLeft {
/*  background: url('../images/paper-test.png'), repeat;*/
  display: block;
  float: left;
  height: 1000px;
  margin-left: 20px;
  max-height: 1000px;
  min-height: 1000px;
}

#areaLegend {
  background-color: #EEE;
  border: 1px solid #AAA;
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 980px;
}
#areaLegend h1 {
  display: inline-block;
  font-size: 24px;
  margin: 0px;
}

#areaMap {
  background: #0077DF;
  display: inherit;
  height: 600px;
  margin: 0 10px 0 0;
  padding: 0;
  width: 1000px;
}

#areaSearch {
  border-bottom: 1px dashed #CCC;
  display: block;
  height: 75px;
  margin: 0;
  padding: 0 20px;
}

#areaTime {
  background-color: #EEE;
  border-top: 1px dashed #CCC;
  display: block;
  margin: 0;
  padding: 0;
  width: 1000px;
}

.markers, .markers svg {
  position: absolute;
}

.markers svg {
  width: 400px;
  height: 400px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.markers circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

/******************************************************************************/
::-webkit-scrollbar {
    background: transparent;
    border: rgba(0, 0, 0, 0.2) solid;
}
::-webkit-scrollbar:vertical {
    border-width: 0 0 0 1px;
    width: 11px;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* These rules are for scrollbar draggable panel */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3) inset;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.5);
}

/* These rules are for buttons */
::-webkit-scrollbar-button:start{display:none}
::-webkit-scrollbar-button:end{display:none}

::-webkit-scrollbar-button:vertical:increment {
    display: none;
}
::-webkit-scrollbar-button:vertical:decrement {
    display: none;
}


